{% extends 'base.html.twig' %}

{% block title 'Index Post' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



